.containerDropDown
  @extend %StyleFrame

.textDropDown
  @extend %StyleText
  width: $width320 - $height44 - 4px
  display: inline-block

.containerDropDownSelect
  display: none
  z-index: 1
  position: relative
  width: $width320
  background: #FFFFFF
  /* Dark 50% */

  border: 1px solid rgba(31, 32, 65, 0.5)
  box-sizing: border-box
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)

.containerDropDown:hover .containerDropDownSelect
  display: block

.containerDropDownSelect:focus .containerDropDownSelect
  display: block

.containerDropDownItems
  display: flex
  justify-content: space-around
  align-items: center

.btnDropDown
  width: 30px
  height: 30px
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  border-radius: 22px
  opacity: 0.38

.textContanerMain
  width: 60%

.textContanerMain, .textContaner
  font-family: Montserrat
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  /* identical to box height */

  text-transform: uppercase

  /* Dark 100% */

  color: #1F2041

.applyDropDown

  font-family: Montserrat
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  /* identical to box height */

  text-transform: uppercase

  /* Primary Color */

  color: #BC9CFF