mixin dropdown(text1,arrText, arrVal, arrowIcons)
    .containerDropDown
        .textDropDown=text1
        +arrow-button(fplaceholder=arrowIcons)

        each val, index in arrText
            .containerDropDownSelect=(index + ': ' + val)
                button(name='btn'+index, onclick=`alert(${arrVal[index]})`) -
                =arrVal[index]
                button() +
