mixin date-drop-down()
    .containerDateDropDown
        +Field(ftype='text', fclass='dateDropDown', fplaceholder!=attributes.fplaceholder)
        include ../arrowButton/index
        +arrow-button(fplaceholder=attributes.arrowIcons)