- var name1 = '@impulse'
doctype html
html
    head
        title Example
        link(rel="stylesheet"
        href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css")
        link(rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        include components/arrowButton/index
        h1 textField
        include components/textField/index
        +field-text(fplaceholder='d')
        h1 dropDown
        include components/dropDown/index
        +dropdown('Сколько гостей', ['Взрослые', 'Дети', 'Младенцы'], [0, 0, 0], 'expand_more')
        h1 maskTextField
        include components/maskTextField/index
        +field-date()
        h1 dateDropDown
        include components/dateDropDown/index
        +date-drop-down(arrowIcons='expand_more', fplaceholder='ДД.ММ.ГГГГ')
        +date-drop-down(arrowIcons='expand_more', fplaceholder='19.08.2019')
        h1 filter date dropdown
        +dropdown('19 авг - 23 авг',[],[], 'expand_more')
        +date-drop-down(arrowIcons='arrow_forward', fplaceholder='19.08.2019')

        script(src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js")